@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Outfit", sans-serif;
  }

  .background-image {
    background-image: url('https://res.cloudinary.com/dpfqbb9pl/image/upload/v1743364304/background_t8cbya.png');
    background-size: cover;
    background-position: center;
  }

  input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-moz-autofill {
    background-color: transparent !important;
    color: inherit !important;
  }

  input:autofill {
    background-color: transparent !important;
    color: inherit !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    resize: none;
    outline: none;
  }
}
